body {
  font-family: "museo-slab", Georgia, serif;
}
.navbar{
	text-transform: uppercase;
	height: 100px;
	margin-bottom: 0px;
	border-radius: 0px;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
	background-color: #222222;
}
.starter-template {
  padding: 40px 15px;
  padding-bottom: 0px;
  text-align: center;
}
h1{
	font-weight: 300;
	margin-top: 0px;
}
.meteor{
	font-family: 'Helvetica Neue', Helvetica, Arial, san-serif;
	font-weight: 500;
}
.lead{
	font-size: 17px;
}
.logo{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: -100px;
	bottom: 110px;
	height: 144px;
	width: 144px;
	background-image: url("../img/logo.png");
}
.green-background {
	background-color: #66af33;
	color: #FFFFFF;
}
.usage-background{
	background-color: #F5F5F5;
}

.huge-icons{
	font-size: 5em;
}
.icon-usage{
	line-height: 40px;
	font-size: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
}

.icon-usage i{
	font-size: 3em;
}
.bold{
	font-weight: bold;
}
code {
	display: inline-block;
	padding: 5px;
	font-size: inherit;
	color: inherit;
	background-color: #fafafa;
	border: 1px solid #E0E0E0;
}
.nt {
color: #2f6f9f;
}
.na {
color: #4f9fcf;
}
.s {
color: #d44950;
}

.icon-list-row{
	padding-top: 35px;
	padding-bottom: 55px;
}

.icon-list i{
	font-size: 3em;
}

.icon-list{
	list-style-type: none;
	padding-left: 100px;
}

.icon-list li{
	float: left;
	text-align: left;
	min-width: 250px;
	min-height: 75px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.icon-list li:hover i{
	font-size: 5em;
}

.icon-list li code{
	display: none;
}


.icon-list li:hover code{
	display: inline-block;
	font-size: 8px;
}

.icon-list li br{
	display: none;
}
.icon-list li:hover br{
	display: block;
}
